@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-right">
        <li>
            @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Manage", "Account", routeValues: null, htmlAttributes: new { title = "Manage" })
        </li>
        @*@{

        System.Security.Claims.ClaimsPrincipal claimsPrincipal = Context.User as System.Security.Claims.ClaimsPrincipal;
        System.Security.Claims.ClaimsIdentity claimsIdentity = claimsPrincipal.Identity as System.Security.Claims.ClaimsIdentity;
        var FacebookId = claimsIdentity.FindAll("id").First().Value;
        var picURL = String.Format("https://graph.facebook.com/{0}/picture", FacebookId);
        }
        <li><img src=@picURL /></li>*@
        <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
        <li>
                 @Html.ActionLink("FacebookInfo", "FacebookInfo", "Account")
            
        </li>
    </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
